:root {
  --white-color: #ffffff;
  --blue-color: #0081FF;
  --blue-color-a15: rgba(0, 129, 255, 0.15);
  --blue-color-2: #0037FA;
  --blue-color-control-1: #2c91f7;
  --blue-color-control-2: #0f3ad8;
  --teal-color: #22CCE2;
  --red-color: #FD594A;
  --red-color-2: #FF3D57;
  --green-color: #09B66D;
  --orange-color-1: #FF8A48;
  --orange-color-2: #FDBF5E;
}
